.gameRoundPage {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.gameContainer {
    /* width: 375px; */
    text-align: center;
    height: 790px;
    width: 20rem;
    padding: 3rem;
    box-sizing: border-box;
    background: #2F3E46;
    font-size: 30px;
    color: white;
    border-radius: 0.625rem;
}

.gameBtn {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 7px;
    font-size: 20px;
    background: rgb(145, 149, 150);
    color: #262d30;
}