.lobbyPage {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobbyContainer {
    /* width: 375px; */
    text-align: center;
    height: 790px;
    width: 20rem;
    padding: 3rem;
    box-sizing: border-box;
    background: #2F3E46;
    font-size: 30px;
    color: white;
    border-radius: 0.625rem;
}

.lobbyHeader {
    text-align: center;
    font-size: 40px;
    margin-bottom: 90px;
    margin-left: -10px;
}

.users {
    font-size: 30px
}

.startGameBtn input {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 25px;
    color: #262d30;
}

.buttons {
    background: rgb(145, 149, 150);
}