.mainPage {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.mainContainer {
    /* width: 375px; */
    text-align: center;
    height: 790px;
    width: 20rem;
    padding: 3rem;
    box-sizing: border-box;
    background: rgba(235, 235, 235, 0.685);
    font-size: 30px;
    color: #535353;
    border-radius: 0.625rem;
}


/* .lo input {
    width: 100%;
    height: 25px;
    border-radius: 1px;
    font-size: 15px;
    margin-bottom: 10px;
} */

.mainPgBtn {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 15px;
}